.sidebar-form {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .clear-btn {
      padding-right: 0;
      line-height: 1;
      text-transform: none;
    }
  }

  .submit-wrapper {
    width: 100%;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    .submit-btn{
      text-transform: none;
    }
  }
  .form-control {
    width: 100%;
    padding: 10px 20px;
  }
}

@media (min-width: 960px) {
  // 'md' breakpoint in Material-UI
  .sidebar-form {
    .submit-wrapper {
      bottom: 50px;
      position: absolute;
    }
  }
}
